.btn{
    border-radius: 0;
}

.option{
    background-color:#cadaee;
    font-size: 2vw;
    padding:10px;
    margin:3px;
    height:7vw;
    width:40vw;
}

.badge-flex {
  font-size:2vw;
}

#quiz .options input[type=checkbox] {
    height:22px;
    width:22px;
    float:inline-start;
    margin-block: 0px 40px;
}

.label {
  /* display: inline-block; */
  text-align:left;
  height:5vw;
}

.question {
  margin-top:5px;
}

.cursor-pointer{
    cursor: pointer;
}

.result-question{
    background-color:#eee;
    margin:4px;
    padding:6px;
}

.question-size {
    font-size: 3.25vw;
}

/* Smallest formats */
@media only screen and (max-width: 300px) {
    h1,.h1{
      font-size:22px;
    }
    h2,.h2{
      font-size:20px;
    }
    h3,.h3{
      font-size:4vw;
    }
    .option {
      font-size: 4vw;
      height: 25vw;
    }
    .badge {
      visibility: hidden;
    }
    .badge-info {
      visibility: hidden;
    }
    .badge-flex {
      visibility: hidden;
    }
  }
/* Tablets */
@media only screen and (min-width: 301px) and (max-width: 400px) {
  h1,.h1{
    font-size:2px;
  }
  h2,.h2{
    font-size:20px;
  }
  h3,.h3{
    font-size:4vw;
  }
  .option {
    font-size: 4vw;
    height:25vw;
  }
  .badge {
    visibility: hidden;
  }
  .badge-info {
    visibility: hidden;
  }
  .badge-flex {
    visibility: hidden;
  }

}
/* Midsize screens */
@media only screen and (min-width: 401px) and (max-width: 500px) {
  h1,.h1{
    font-size:2px;
  }
  h2,.h2{
    font-size:20px;
  }
  h3,.h3{
    font-size:4vw;
  }
  .option {
    font-size: 3vw;
    padding: 6px;
  }
}
/* Largest formats */
@media only screen and (min-width: 501px) {
  h1,.h1{
    font-size:20px;
  }
  h2,.h2{
    font-size:20px;
  }
  h3,.h3{
    font-size:18px;
  }
  .option {
    font-size: 15px;
    padding: 6px;
    height: 40px;
    width:300px;
  }
}
